--color-white: rgba(255, 255, 255, 0.9) !important;
--color-black: #000000 !important;
--color-border: #333335 !important;
--color-bg-1: #17171a !important;
--color-bg-2: #232324 !important;
--color-bg-3: #2a2a2b !important;
--color-bg-4: #313132 !important;
--color-bg-5: #373739 !important;
--color-bg-white: #f6f6f6 !important;
--color-text-1: rgba(255, 255, 255, 0.9) !important;
--color-text-2: rgba(255, 255, 255, 0.7) !important;
--color-text-3: rgba(255, 255, 255, 0.5) !important;
--color-text-4: rgba(255, 255, 255, 0.3) !important;
--color-fill-1: rgba(255, 255, 255, 0.04) !important;
--color-fill-2: rgba(255, 255, 255, 0.08) !important;
--color-fill-3: rgba(255, 255, 255, 0.12) !important;
--color-fill-4: rgba(255, 255, 255, 0.16) !important;
--color-primary-light-1: rgba(var(--primary-6), 0.2) !important;
--color-primary-light-2: rgba(var(--primary-6), 0.35) !important;
--color-primary-light-3: rgba(var(--primary-6), 0.5) !important;
--color-primary-light-4: rgba(var(--primary-6), 0.65) !important;
--color-secondary: rgba(var(--gray-9), 0.08) !important;
--color-secondary-hover: rgba(var(--gray-8), 0.16) !important;
--color-secondary-active: rgba(var(--gray-7), 0.24) !important;
--color-secondary-disabled: rgba(var(--gray-9), 0.08) !important;
--color-danger-light-1: rgba(var(--danger-6), 0.2) !important;
--color-danger-light-2: rgba(var(--danger-6), 0.35) !important;
--color-danger-light-3: rgba(var(--danger-6), 0.5) !important;
--color-danger-light-4: rgba(var(--danger-6), 0.65) !important;
--color-success-light-1: rgb(var(--success-6), 0.2) !important;
--color-success-light-2: rgb(var(--success-6), 0.35) !important;
--color-success-light-3: rgb(var(--success-6), 0.5) !important;
--color-success-light-4: rgb(var(--success-6), 0.65) !important;
--color-warning-light-1: rgb(var(--warning-6), 0.2) !important;
--color-warning-light-2: rgb(var(--warning-6), 0.35) !important;
--color-warning-light-3: rgb(var(--warning-6), 0.5) !important;
--color-warning-light-4: rgb(var(--warning-6), 0.65) !important;
--color-link-light-1: rgb(var(--link-6), 0.2) !important;
--color-link-light-2: rgb(var(--link-6), 0.35) !important;
--color-link-light-3: rgb(var(--link-6), 0.5) !important;
--color-link-light-4: rgb(var(--link-6), 0.65) !important;
--color-tooltip-bg: #373739 !important;
--color-spin-layer-bg: rgba(51, 51, 51, 0.6) !important;
--color-menu-dark-bg: #232324 !important;
--color-menu-light-bg: #232324 !important;
--color-menu-dark-hover: var(--color-fill-2) !important;
--color-mask-bg: rgba(23, 23, 26, 0.6) !important;
