.dark body {
    --color-white: rgba(255, 255, 255, 0.9) !important;
    --color-black: #000000 !important;
    --color-border: #333335 !important;
    --color-bg-1: #17171a !important;
    --color-bg-2: #232324 !important;
    --color-bg-3: #2a2a2b !important;
    --color-bg-4: #313132 !important;
    --color-bg-5: #373739 !important;
    --color-bg-white: #f6f6f6 !important;
    --color-text-1: rgba(255, 255, 255, 0.9) !important;
    --color-text-2: rgba(255, 255, 255, 0.7) !important;
    --color-text-3: rgba(255, 255, 255, 0.5) !important;
    --color-text-4: rgba(255, 255, 255, 0.3) !important;
    --color-fill-1: rgba(255, 255, 255, 0.04) !important;
    --color-fill-2: rgba(255, 255, 255, 0.08) !important;
    --color-fill-3: rgba(255, 255, 255, 0.12) !important;
    --color-fill-4: rgba(255, 255, 255, 0.16) !important;
    --color-primary-light-1: rgba(var(--primary-6), 0.2) !important;
    --color-primary-light-2: rgba(var(--primary-6), 0.35) !important;
    --color-primary-light-3: rgba(var(--primary-6), 0.5) !important;
    --color-primary-light-4: rgba(var(--primary-6), 0.65) !important;
    --color-secondary: rgba(var(--gray-9), 0.08) !important;
    --color-secondary-hover: rgba(var(--gray-8), 0.16) !important;
    --color-secondary-active: rgba(var(--gray-7), 0.24) !important;
    --color-secondary-disabled: rgba(var(--gray-9), 0.08) !important;
    --color-danger-light-1: rgba(var(--danger-6), 0.2) !important;
    --color-danger-light-2: rgba(var(--danger-6), 0.35) !important;
    --color-danger-light-3: rgba(var(--danger-6), 0.5) !important;
    --color-danger-light-4: rgba(var(--danger-6), 0.65) !important;
    --color-success-light-1: rgb(var(--success-6), 0.2) !important;
    --color-success-light-2: rgb(var(--success-6), 0.35) !important;
    --color-success-light-3: rgb(var(--success-6), 0.5) !important;
    --color-success-light-4: rgb(var(--success-6), 0.65) !important;
    --color-warning-light-1: rgb(var(--warning-6), 0.2) !important;
    --color-warning-light-2: rgb(var(--warning-6), 0.35) !important;
    --color-warning-light-3: rgb(var(--warning-6), 0.5) !important;
    --color-warning-light-4: rgb(var(--warning-6), 0.65) !important;
    --color-link-light-1: rgb(var(--link-6), 0.2) !important;
    --color-link-light-2: rgb(var(--link-6), 0.35) !important;
    --color-link-light-3: rgb(var(--link-6), 0.5) !important;
    --color-link-light-4: rgb(var(--link-6), 0.65) !important;
    --color-tooltip-bg: #373739 !important;
    --color-spin-layer-bg: rgba(51, 51, 51, 0.6) !important;
    --color-menu-dark-bg: #232324 !important;
    --color-menu-light-bg: #232324 !important;
    --color-menu-dark-hover: var(--color-fill-2) !important;
    --color-mask-bg: rgba(23, 23, 26, 0.6) !important;
    --red-1: 77, 0, 10 !important;
    --red-2: 119, 6, 17 !important;
    --red-3: 161, 22, 31 !important;
    --red-4: 203, 46, 52 !important;
    --red-5: 245, 78, 78 !important;
    --red-6: 247, 105, 101 !important;
    --red-7: 249, 141, 134 !important;
    --red-8: 251, 176, 167 !important;
    --red-9: 253, 209, 202 !important;
    --red-10: 255, 240, 236 !important;
    --orangered-1: 77, 14, 0 !important;
    --orangered-2: 119, 30, 5 !important;
    --orangered-3: 162, 55, 20 !important;
    --orangered-4: 204, 87, 41 !important;
    --orangered-5: 247, 126, 69 !important;
    --orangered-6: 249, 146, 90 !important;
    --orangered-7: 250, 173, 125 !important;
    --orangered-8: 252, 198, 161 !important;
    --orangered-9: 253, 222, 197 !important;
    --orangered-10: 255, 244, 235 !important;
    --orange-1: 77, 27, 0 !important;
    --orange-2: 121, 48, 4 !important;
    --orange-3: 166, 75, 10 !important;
    --orange-4: 210, 105, 19 !important;
    --orange-5: 255, 141, 31 !important;
    --orange-6: 255, 150, 38 !important;
    --orange-7: 255, 179, 87 !important;
    --orange-8: 255, 205, 135 !important;
    --orange-9: 255, 227, 184 !important;
    --orange-10: 255, 247, 232 !important;
    --gold-1: 77, 45, 0 !important;
    --gold-2: 119, 75, 4 !important;
    --gold-3: 162, 111, 15 !important;
    --gold-4: 204, 150, 31 !important;
    --gold-5: 247, 192, 52 !important;
    --gold-6: 249, 204, 68 !important;
    --gold-7: 250, 220, 108 !important;
    --gold-8: 252, 233, 149 !important;
    --gold-9: 253, 244, 190 !important;
    --gold-10: 255, 252, 232 !important;
    --yellow-1: 77, 56, 0 !important;
    --yellow-2: 120, 94, 7 !important;
    --yellow-3: 163, 134, 20 !important;
    --yellow-4: 207, 179, 37 !important;
    --yellow-5: 250, 225, 60 !important;
    --yellow-6: 251, 233, 75 !important;
    --yellow-7: 252, 243, 116 !important;
    --yellow-8: 253, 250, 157 !important;
    --yellow-9: 254, 254, 198 !important;
    --yellow-10: 254, 255, 240 !important;
    --lime-1: 42, 77, 0 !important;
    --lime-2: 68, 112, 6 !important;
    --lime-3: 98, 148, 18 !important;
    --lime-4: 132, 183, 35 !important;
    --lime-5: 168, 219, 57 !important;
    --lime-6: 184, 226, 75 !important;
    --lime-7: 203, 233, 112 !important;
    --lime-8: 222, 241, 152 !important;
    --lime-9: 238, 248, 194 !important;
    --lime-10: 253, 255, 238 !important;
    --green-1: 0, 77, 28 !important;
    --green-2: 4, 102, 37 !important;
    --green-3: 10, 128, 45 !important;
    --green-4: 18, 154, 55 !important;
    --green-5: 29, 180, 64 !important;
    --green-6: 39, 195, 70 !important;
    --green-7: 80, 210, 102 !important;
    --green-8: 126, 225, 139 !important;
    --green-9: 178, 240, 183 !important;
    --green-10: 235, 255, 236 !important;
    --cyan-1: 0, 66, 77 !important;
    --cyan-2: 6, 97, 108 !important;
    --cyan-3: 17, 131, 139 !important;
    --cyan-4: 31, 166, 170 !important;
    --cyan-5: 48, 201, 201 !important;
    --cyan-6: 63, 212, 207 !important;
    --cyan-7: 102, 223, 215 !important;
    --cyan-8: 144, 233, 225 !important;
    --cyan-9: 190, 244, 237 !important;
    --cyan-10: 240, 255, 252 !important;
    --blue-1: 0, 26, 77 !important;
    --blue-2: 5, 47, 120 !important;
    --blue-3: 19, 76, 163 !important;
    --blue-4: 41, 113, 207 !important;
    --blue-5: 70, 154, 250 !important;
    --blue-6: 90, 170, 251 !important;
    --blue-7: 125, 193, 252 !important;
    --blue-8: 161, 213, 253 !important;
    --blue-9: 198, 232, 254 !important;
    --blue-10: 234, 248, 255 !important;
    --arcoblue-1: 0, 13, 77 !important;
    --arcoblue-2: 4, 27, 121 !important;
    --arcoblue-3: 14, 50, 166 !important;
    --arcoblue-4: 29, 77, 210 !important;
    --arcoblue-5: 48, 111, 255 !important;
    --arcoblue-6: 60, 126, 255 !important;
    --arcoblue-7: 104, 159, 255 !important;
    --arcoblue-8: 147, 190, 255 !important;
    --arcoblue-9: 190, 218, 255 !important;
    --arcoblue-10: 234, 244, 255 !important;
    --purple-1: 22, 0, 77 !important;
    --purple-2: 39, 6, 110 !important;
    --purple-3: 62, 19, 143 !important;
    --purple-4: 90, 37, 176 !important;
    --purple-5: 123, 61, 209 !important;
    --purple-6: 142, 81, 218 !important;
    --purple-7: 169, 116, 227 !important;
    --purple-8: 197, 154, 237 !important;
    --purple-9: 223, 194, 246 !important;
    --purple-10: 247, 237, 255 !important;
    --pinkpurple-1: 66, 0, 77 !important;
    --pinkpurple-2: 101, 3, 112 !important;
    --pinkpurple-3: 138, 13, 147 !important;
    --pinkpurple-4: 176, 27, 182 !important;
    --pinkpurple-5: 217, 46, 217 !important;
    --pinkpurple-6: 225, 61, 219 !important;
    --pinkpurple-7: 232, 102, 223 !important;
    --pinkpurple-8: 240, 146, 230 !important;
    --pinkpurple-9: 247, 193, 240 !important;
    --pinkpurple-10: 255, 242, 253 !important;
    --magenta-1: 77, 0, 52 !important;
    --magenta-2: 119, 8, 80 !important;
    --magenta-3: 161, 23, 108 !important;
    --magenta-4: 203, 43, 136 !important;
    --magenta-5: 245, 69, 166 !important;
    --magenta-6: 247, 86, 169 !important;
    --magenta-7: 249, 122, 184 !important;
    --magenta-8: 251, 158, 200 !important;
    --magenta-9: 253, 195, 219 !important;
    --magenta-10: 255, 232, 241 !important;
    --gray-1: 23, 23, 26 !important;
    --gray-2: 46, 46, 48 !important;
    --gray-3: 72, 72, 73 !important;
    --gray-4: 95, 95, 96 !important;
    --gray-5: 120, 120, 122 !important;
    --gray-6: 146, 146, 147 !important;
    --gray-7: 171, 171, 172 !important;
    --gray-8: 197, 197, 197 !important;
    --gray-9: 223, 223, 223 !important;
    --gray-10: 246, 246, 246 !important;
    --primary-1: 232, 255, 244 !important;
    --primary-2: 187, 243, 219 !important;
    --primary-3: 145, 231, 196 !important;
    --primary-4: 106, 219, 178 !important;
    --primary-5: 71, 207, 162 !important;
    --primary-6: 9, 189, 127 !important;
    --primary-7: 25, 165, 128 !important;
    --primary-8: 14, 136, 107 !important;
    --primary-9: 5, 106, 86 !important;
    --primary-10: 0, 77, 64 !important;
    --link-1: 0, 14, 77 !important;
    --link-2: 13, 30, 95 !important;
    --link-3: 32, 52, 113 !important;
    --link-4: 57, 78, 131 !important;
    --link-5: 87, 107, 149 !important;
    --link-6: 125, 141, 170 !important;
    --link-7: 150, 166, 191 !important;
    --link-8: 178, 192, 213 !important;
    --link-9: 207, 219, 234 !important;
    --link-10: 238, 246, 255 !important;
    --success-1: var(--green-1) !important;
    --success-2: var(--green-2) !important;
    --success-3: var(--green-3) !important;
    --success-4: var(--green-4) !important;
    --success-5: var(--green-5) !important;
    --success-6: var(--green-6) !important;
    --success-7: var(--green-7) !important;
    --success-8: var(--green-8) !important;
    --success-9: var(--green-9) !important;
    --success-10: var(--green-10) !important;
    --danger-1: 77, 0, 10 !important;
    --danger-2: 120, 9, 20 !important;
    --danger-3: 163, 28, 38 !important;
    --danger-4: 207, 57, 62 !important;
    --danger-5: 250, 93, 93 !important;
    --danger-6: 251, 123, 119 !important;
    --danger-7: 252, 154, 147 !important;
    --danger-8: 253, 183, 176 !important;
    --danger-9: 254, 211, 204 !important;
    --danger-10: 255, 237, 233 !important;
    --warning-1: 77, 48, 0 !important;
    --warning-2: 121, 82, 4 !important;
    --warning-3: 166, 119, 10 !important;
    --warning-4: 210, 159, 19 !important;
    --warning-5: 255, 202, 31 !important;
    --warning-6: 255, 211, 38 !important;
    --warning-7: 255, 227, 87 !important;
    --warning-8: 255, 240, 135 !important;
    --warning-9: 255, 248, 184 !important;
    --warning-10: 255, 253, 232 !important;
}
